/LP/03-08-primeiro-projeto/target/
/LP/primeiro-nivelamento/target/
/LP/lista01/target/
/LP/testando_doideras/teste/target/
/LP/nivelamento2/target/
/LP/lista02/target/
/LP/projetin-metodos/target/
/LP/lista3-rafael-reis-2adsb/target/
/LP/tela-java/target/
/LP/avaliacao-continuada-rafael-reis/target/
/LP/desafio-calculadora/target/
/LP/correcao_encapsulamento/mavenproject1/target/
/LP/correcao_encapsulamento/listas/target/
/LP/correcao_encapsulamento/lista06/target/
/LP/correcao_encapsulamento/tela_client/target/
/LP/correcao_encapsulamento/login_client/target/
/LP/lista07/target/
/LP/projeto-lista-desafio/target/
/LP/banco-de-dados-testes/target/
